pre[class*="language-"] {
  border-radius: 0.3rem;
}

code:not([class*="language-"]) {
  background: _palette(border-bg);
  border-radius: _size(border-radius);
  border: solid 1px _palette(border);
  font-family: _font(family-fixed);
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}
